providers.tf
terraform.tfvars
terraform*
plan*

# Local .terraform directories
.terraform/
.terraform.lock.hcl

# Terraform plan and state files
*.tfstate
*.tfstate.backup
crash.log

# Terraform variable files containing sensitive data
*.tfvars
*.tfvars.json

#any SSH key file will also be added here
private-key*